*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.heading{
    text-align: center;
    font-size: 30px;
}
.btn{
    margin-top: 30px;
    padding: 10px;
    background-color: rgb(238, 23, 59);
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}

/* Home  */

.home{
    height: 100vh;
    flex-direction: column;
    display: flex;
    align-items:center;
    justify-content: center;
}
.home::before{
    content: "";
    background: url('/img/img.JPG') center center/cover;
    opacity: 0.7;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.home h1{
    font-size: 80px;
}
.home h2{
    font-size: 30px;
}

/* About */
.desc{
    width: 90%;
    font-size: 18px;
    margin: auto;
    margin-top: 20px;
}
/* Services */

.services .boxes{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services .boxes .box{
    border: 2px solid black;
    padding: 10px;
    margin: 8px;
    width: 30%;
    border-radius: 10px;
    background-color: rgb(255, 151, 113);
}

/* Clients */

.clients .icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.clients .icons img{
    height: 250px;
    margin: 10px;
    width: auto;
}

/* FAQs */

.faq .collapseheading{
    display: block;
    background-color: gray;
    width: 90%;
    margin: auto;
    padding: 10px;
    font-size: 20px;
}
.faq .collapseheading::before{
    content: "+";
    position: relative;
    top: 0;
    left: 98%;
}
.faq .collapsedetails{
    display: block;
    background-color: rgb(61, 236, 105);
    width: 90%;
    height: 0px;
    overflow: hidden;
    margin: auto;
    font-size: 18px;
    margin-bottom: 10px;
    transition: 0.5s;
}

/* Toggle Animation */

.content.active .collapsedetails{
    transition: 0.5s;
    height: 110px;
    padding: 10px;
}
.content.active .collapseheading::before{
    content: "-";
}

/* Contact Us  */

.contact{
    background: url('/img/contact.jpg') center center/cover;
}
form input,textarea{
    margin: auto;
    margin-top: 8px;
    padding: 8px;
    display: block;
    width: 70%;
}
input[type="submit"] {
    width: 10%;
    border-radius: 10px;
}
footer{
    background-color: black;
    padding: 10px;
}
footer p{
    color: white;
    text-align: center;
}